<table>

    <tr>
        <th>purchaser name</th>
        <th>item description</th>
        <th>item price</th>
        <th>purchase count</th>
        <th>merchant address</th>
        <th>merchant name</th>
    </tr>

    {% for line in purchase.items %}
    <tr>
        {% for item in line %}
        <td>{{ item }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<p>Total da Compra: {{ purchase.total }}</p>

<form method="POST" action="/save_purchase">
    <input type="hidden" name="filename" value="{{ filename }}" />
    <input type="submit" value="Salvar Compra" />
</form>
